html,
body {
  height: 100%;
}
body {
  overflow: scroll;
}
.clear {
  content: "";
  display: block;
  clear: both;
}
.txthide {
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  opacity: 0;
}
/* button style */
.btn {
  display: inline-block;
  position: relative;
  z-index: 1;
  padding: 10px;
  border: 1px solid #ddd;
}
.btn-print {
  position: absolute;
  right: 0;
  border-color: #ddd;
  background: #fff;
  color: #666;
}
.btn-print:hover {
  border-color: #000;
  background: #000;
  color: #fff;
}
.btn-top {
  position: fixed;
  bottom: 50px;
  right: 20px;
  width: 44px;
  background: #000;
  color: #fff;
  text-align: center;
  opacity: 0;
  transition: all .5s;
}
.btn-top:hover {
  background: #000;
  color: #fff;
}
.btn-top::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: -20px;
  left: 0;
  width: 0px;
  border-bottom: 20px solid #000;
  border-left: 21px solid transparent;
  border-right: 21px solid transparent;
  font-size: 0px;
  line-height: 0%;
}
.btn-top.sticky {
  opacity: .8;
}
.btn-newpop {
  margin: 10px 0;
}
/* Top Banner */
#topBanner {
  overflow: hidden;
  width: 100%;
  transition: all .5s;
}
#topBanner.block {
  height: 70px;
}
#topBanner.none {
  height: 0;
}
.topbnwrap {
  position: relative;
  max-width: 1100px;
  margin: 0 auto;
}
.topbnwrap .topbncnt {
  width: 100%;
  text-align: center;
}
.topbnwrap .topbncontrol {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
}
.topbnwrap .topbncontrol a {
  display: inline-block;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  text-align: center;
}
.topbnwrap .topbncloseday {
  float: left;
}
.topbnwrap .topbnclose {
  float: right;
}
/* Layout - Header */
.headerwrap {
  width: 100%;
  background-color: #555;
  box-shadow: 0 4px 8px 0 rgba(23, 30, 39, 0.5);
}
.header {
  position: relative;
  max-width: 1100px;
  margin: 0 auto;
  padding: 10px 0;
}
.header h1 a {
  color: #fff;
  font-size: 50px;
  font-family: 'Jaldi', sans-serif;
}
.header h1 a:hover,
.header h1 a:focus,
.header h1 a:active,
.header h1 a:visited {
  color: #00986b;
}
.header .tnb {
  position: absolute;
  top: 10px;
  right: 0;
}
.header .tnb li {
  display: inline-block;
}
.header .tnb li.block {
  display: inline-block;
}
.header .tnb li.none {
  display: none;
}
.header .tnb li a {
  color: #fff;
}
.header .tnb li a:hover,
.header .tnb li a:focus,
.header .tnb li a:active,
.header .tnb li a:visited {
  color: #fff;
}
.header .tnb li::after {
  content: "|";
  position: relative;
  top: -1px;
  margin-right: 4px;
  margin-left: 8px;
  color: #fff;
}
.header .tnb li:last-child::after {
  display: none;
}
/* Layout - Footer */
.footerwrap {
  width: 100%;
  background-color: rgba(23, 30, 39, 0.95);
}
.footer {
  max-width: 1100px;
  margin: 0 auto;
  padding: 10px;
  color: #fff;
  text-align: center;
}
/* Layout - Container */
.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 55px 0 0;
}
.container::after {
  content: "";
  display: block;
  clear: both;
}
.sidemenu {
  position: relative;
  float: left;
  width: 150px;
  margin-top: 35px;
  margin-right: -100%;
  border: 1px solid #ddd;
}
.sidemenu.is_stuck {
  margin-top: 95px;
}
.sidemenu.sticky {
  position: fixed;
  top: 55px;
  z-index: 1000;
}
.csection {
  position: relative;
  min-height: 600px;
  margin-left: 160px;
  padding: 35px 0 50px 10px;
  border-left: 1px solid #ddd;
}
/* Header - Navigation */
.btn-mo {
  display: none;
}
.navigation {
  display: block;
  position: absolute;
  width: 100%;
  height: 55px;
  margin: 0 auto;
  padding: 0;
  border: 0;
  border-top: 1px solid #e0e0e0;
  border-bottom: 3px solid #fd8428;
  background: #fff;
  text-align: center;
  z-index: 1000;
}
.navigation::after {
  content: "";
  display: block;
  clear: both;
}
.navigation.sticky {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}
.navigation .bgnav {
  display: none;
  position: absolute;
  top: 53px;
  left: 0;
  width: 100%;
  border-bottom: 0;
  background: #faf6f5;
  z-index: 102;
}
.navigation .bgnav.line {
  border-bottom: 1px solid #c9c7c8;
}
.nav {
  display: block;
  position: relative;
  z-index: 1000;
  max-width: 1100px;
  margin: 0 auto;
}
.gnb {
  overflow: hidden;
  position: relative;
}
.gnb > li {
  overflow: hidden;
  position: relative;
  z-index: 11;
  float: left;
  width: calc(25%);
  height: 53px;
  border: 0;
  border-top: 0;
  border-left: 0;
  background: #fff;
}
.gnb > li > a {
  display: block;
  padding: 17px 0 18px;
  color: #010101;
  font-size: 18px;
  font-weight: 700;
  border-bottom: 3px solid #fd8428;
  font-size: 16px;
}
.gnb > li > ul {
  display: block;
  position: absolute;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  max-height: 280px;
  padding-top: 42px;
  padding-bottom: 0;
  border: 1px solid #d4d4d4;
  border-left: 0;
  background: #fff;
  border-top: none;
  max-height: 279px;
}
.gnb > li > ul > li {
  padding: 0 25px;
  text-align: left;
  white-space: nowrap;
}
.gnb > li > ul > li a {
  display: block;
  padding: 8px 0;
  color: #2b2726;
  font-weight: 400;
}
.gnb > li > ul > li:hover a {
  color: #24201f;
  font-weight: 700;
  text-decoration: underline;
}
.gnb > li > ul > .active a {
  color: #24201f;
  font-weight: 700;
  text-decoration: underline;
}
.gnb > li > ul > .focus a {
  color: #24201f;
  font-weight: 700;
  text-decoration: underline;
}
.gnb > li:first-child > ul {
  border-left: 1px solid #d4d4d4;
}
.gnb > .selected > a {
  background: #fff;
  color: #ee5d02;
}
.gnb > .selected > ul {
  background: #faf6f5;
}
.gnb > .on > a {
  background: #fff;
  color: #ee5d02;
  border-bottom: 3px solid #696969;
}
.gnb > .on > a:focus {
  background: #fff;
  color: #ee5d02;
  border-bottom: 3px solid #696969;
}
.gnb > .on > ul {
  background: #f5f5f5;
}
/* Sidemenu */
.snbtitle {
  padding: 0 15px;
  background: #222;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  line-height: 50px;
  text-align: center;
}
.snb .menu > li {
  border-top: 1px solid #ddd;
}
.snb .menu > li a {
  display: block;
  position: relative;
  padding: 0 15px;
  color: #555;
  font-size: 14px;
  line-height: 40px;
}
.snb .menu > li a:hover,
.snb .menu > li a:focus,
.snb .menu > li a:active,
.snb .menu > li a:visited {
  color: #555;
}
.snb .menu > li :first-child {
  border-top: 0;
}
.snb .menu .dep {
  display: none;
  background: #f5f5f5;
}
.snb .menu .dep.dep2 {
  padding: 0 2px;
}
.snb .menu .dep.dep2 a {
  padding-left: 15px;
}
.snb .menu .dep.dep3 {
  background: #fff;
}
.snb .menu .arr a::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 15px;
  margin-top: -3px;
  border-top: 6px solid #666;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}
.snb .menu .open > a {
  font-weight: 700;
}
.snb .menu .open > a::after {
  transform: rotate(180deg);
}
.snb .menu .narr > a::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 15px;
  margin-top: -3px;
  border-top: 4px solid transparent;
  border-left: 6px solid #666;
  border-bottom: 4px solid transparent;
}
/* Csection - Contents */
.location {
  position: absolute;
  top: 45px;
  right: 10px;
}
.location li {
  display: inline-block;
  color: #444;
  font-family: 'Malgun Gothic', '맑은 고딕';
}
.location li strong {
  font-weight: 700;
}
.location li::after {
  content: ">";
  margin-right: 4px;
  margin-left: 8px;
  color: #444;
}
.location li:last-child::after {
  display: none;
}
.ctitle {
  overflow: hidden;
  position: relative;
  margin-bottom: 20px;
  padding: 0 0 15px;
  border-bottom: 1px solid #ddd;
  font-size: 30px;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}
.chead {
  overflow: hidden;
  position: relative;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  font-size: 20px;
  text-align: center;
}
.cbody {
  overflow: hidden;
  position: relative;
}
.cbody .hxtit {
  margin: 0 0 15px;
  clear: both;
  color: #000;
  font-size: 16px;
  font-weight: 700;
}
.cbody .hxtit:first-child {
  margin-top: 0;
}
.cbody .hxtit::before {
  content: "■";
  position: relative;
  top: -2px;
  margin-right: 5px;
}
.cfoot {
  overflow: hidden;
  position: relative;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  font-size: 20px;
  text-align: center;
}
/* Contents TabMenu */
.ctabmenu {
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #ddd;
}
.ctabmenu li {
  display: block;
  position: relative;
  float: left;
  margin-bottom: -1px;
}
.ctabmenu li a {
  display: block;
  position: relative;
  padding: 10px 15px;
  margin-right: 2px;
  border: 1px solid transparent;
  border-radius: 4px 4px 0 0;
  color: #337ab7;
  font-size: 14px;
  line-height: 1.4;
}
.ctabmenu li.on a {
  border: 1px solid #ddd;
  border-bottom-color: transparent;
  background-color: #fff;
  color: #555;
  font-weight: 700;
}
.ctabmenu::after {
  content: "";
  display: block;
  clear: both;
}
.ctabcnt {
  display: none;
  min-height: 300px;
  padding: 10px;
  border: 1px solid #ddd;
  border-top-color: transparent;
  font-size: 14px;
  font-family: 'Nanum Gothic', sans-serif;
}
.ctabcnt.on {
  display: block;
}
/* hxmenu */
.hxgroup {
  overflow: hidden;
  margin: 0 0 40px;
}
.hxgroup.faq .hx a {
  display: block;
  padding: 10px;
  border: 1px solid #ddd;
  border-top-width: 0;
}
.hxgroup.faq .hx a::before {
  content: "◎";
}
.hxgroup.faq .hx:first-child a {
  border-top-width: 1px;
}
.hxgroup.faq .hx.on a {
  background: #ddd;
  color: #000;
  font-weight: 700;
}
.hxgroup.faq .hxcnt {
  overflow: hidden;
  width: 100%;
  height: 0;
  padding: 0;
}
.hxgroup.faq .hxcnt::before {
  content: "→";
}
.hxgroup.faq .hxcnt.on {
  height: auto;
  padding: 10px;
  border: 1px solid #ddd;
  border-top-width: 0;
}
.hxgroup.newest {
  overflow: hidden;
  position: relative;
  width: 48%;
  min-height: 182px;
}
.hxgroup.newest .hx {
  display: inline-block;
}
.hxgroup.newest .hx a {
  display: inline-block;
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
}
.hxgroup.newest .hx.on a {
  background: #ddd;
  color: #000;
  font-weight: 700;
}
.hxgroup.newest .hxcnt {
  display: none;
  position: absolute;
  width: 100%;
  padding: 0;
  border-top: 1px solid #ddd;
}
.hxgroup.newest .hxcnt.on {
  display: block;
}
.hxgroup.newest .hxcnt ul {
  width: 100%;
}
.hxgroup.newest .hxcnt li {
  position: relative;
  width: 100%;
  padding: 0 0 0 12px;
  border-bottom: 1px dotted #ddd;
}
.hxgroup.newest .hxcnt li::before {
  content: "●";
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 0;
  color: #000;
  font-size: 8px;
  font-family: Dotum;
  transform: translateY(-50%);
}
.hxgroup.newest .hxcnt li a {
  overflow: hidden;
  display: block;
  width: 80%;
  max-width: 100%;
  line-height: 28px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.hxgroup.newest .hxcnt li span {
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
}
.hxgroup.newest .hxcnt .btn-more {
  position: absolute;
  top: -20px;
  right: 5px;
}
.hxgroup.float-l {
  float: left;
}
.hxgroup.float-r {
  float: right;
}
/* dlmenu */
.dlgroup {
  overflow: hidden;
  margin: 0 0 40px;
}
.dlgroup.faq dt a {
  display: block;
  padding: 10px;
  border: 1px solid #ddd;
  border-top-width: 0;
}
.dlgroup.faq dt a::before {
  content: "◎";
}
.dlgroup.faq dt:first-child a {
  border-top-width: 1px;
}
.dlgroup.faq dt.on a {
  background: #ddd;
  color: #000;
  font-weight: 700;
}
.dlgroup.faq dd {
  overflow: hidden;
  width: 100%;
  height: 0;
  padding: 0;
}
.dlgroup.faq dd::before {
  content: "→";
}
.dlgroup.faq dd.on {
  height: auto;
  padding: 10px;
  border: 1px solid #ddd;
  border-top-width: 0;
}
/* ulmenu */
.ulgroup {
  overflow: hidden;
  margin: 0 0 40px;
}
.ulgroup.faq li .que {
  display: block;
  padding: 10px;
  border: 1px solid #ddd;
  border-top-width: 0;
}
.ulgroup.faq li .que::before {
  content: "◎";
}
.ulgroup.faq li:first-child .que {
  border-top-width: 1px;
}
.ulgroup.faq li .ans {
  overflow: hidden;
  width: 100%;
  height: 0;
  padding: 0;
}
.ulgroup.faq li .ans::before {
  content: "→";
}
.ulgroup.faq li.on .que {
  background: #ddd;
  color: #000;
  font-weight: 700;
}
.ulgroup.faq li.on .ans {
  height: auto;
  padding: 10px;
  border: 1px solid #ddd;
  border-top-width: 0;
}
/* Media Query */
@media (max-width: 1024px) {
  body.mb-active {
    overflow: hidden;
  }
  /* Layout - Header */
  .header {
    max-width: 100%;
    padding: 10px 0;
  }
  .header h1 {
    text-align: center;
  }
  .header .tnb {
    right: 15px;
  }
  /* Layout - Container */
  .sidemenu {
    display: none;
  }
  .csection {
    margin-left: 0;
    padding: 35px 0 50px 10px;
    border-left: 0;
  }
  /* Navigation */
  .btn-mo {
    display: block;
    position: absolute;
    top: 15px;
    left: 15px;
    z-index: 1004;
    width: 40px;
    height: 40px;
    margin: 0;
    padding: 10px 12px;
    line-height: 1;
    border: 1px solid #000;
    border-radius: 0;
    background-color: #fff;
    background-image: none;
  }
  .btn-mo i {
    color: #ee5d02 !important;
    font-size: 30px;
  }
  .navigation {
    position: fixed;
    top: 0;
    left: -100%;
    z-index: 1000;
    width: 100%;
    height: 100%;
    border: 0;
    background: transparent;
    text-align: center;
    transition: left .4s;
  }
  .navigation .bgnav {
    display: none!important;
    width: 0;
    height: 0;
  }
  .navigation.mb-active {
    overflow: auto;
    left: 0;
  }
  .navigation.mb-active .bgnav {
    display: block!important;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%!important;
    height: 100%!important;
    transition: all .4s;
  }
  .navigation.mb-active .bgnav.line {
    border-bottom: 0;
  }
  .nav {
    position: absolute;
    z-index: 1000;
    width: 50%;
    max-width: 260px;
    height: 100%;
    margin: 0;
    background: #fff;
    text-align: left;
    border-right: 1px solid #d6d6d6;
  }
  .gnb > li.on > a {
    border-bottom: none;
    background: #ee5d02 !important;
    color: #fff !important;
  }
  .gnb > li.on > a:focus {
    border-bottom: none;
  }
  .gnb > li.on:after {
    content: "-";
    background: #fff;
    font-size: 18px;
  }
  .gnb > li.on > ul {
    display: block;
    border: 0;
    border-top: 1px solid #ee5d02;
  }
  .gnb > li {
    overflow: hidden;
    z-index: 11;
    float: none;
    width: 100%;
    height: auto !important;
    border: 0;
    border-bottom: 1px solid #d6d6d6;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  }
  .gnb > li::after {
    content: "+";
    display: inline-block;
    position: absolute;
    top: 14px;
    right: 14px;
    width: 24px;
    height: 24px;
    padding: 0;
    border: 1px solid #c4ccd3;
    background: #fff;
    color: #010101;
    font-family: 'Malgun Gothic', '맑은 고딕';
    font-size: 20px;
    text-align: center;
  }
  .gnb > li:first-child {
    width: 100%;
    padding-right: 0;
    border: 0;
    border-top: 1px solid #d6d6d6;
    border-left: 0;
    border-bottom: 1px solid #d6d6d6;
  }
  .gnb > li:first-child > a {
    border-top: 0;
  }
  .gnb > li:last-child {
    width: 100%;
  }
  .gnb > li:last-child:after {
    display: inline-block;
  }
  .gnb > li > a {
    display: block;
    padding: 18px 18px;
    border: 0;
    background: #fff;
    color: #ee5d02;
    font-weight: 700;
  }
  .gnb > li > ul {
    display: none;
    position: relative;
    padding: 10px;
    border: 0;
    background: #f3f3f3;
  }
  .gnb > li > ul > li {
    padding: 0 0 0 30px;
    line-height: 1.5;
    color: #fff;
  }
  .gnb > li > ul > li > a {
    display: inline-block;
    width: 100%;
    margin-left: -10px;
    padding: 8px 0;
    line-height: 1.5;
    color: #323232;
  }
  .gnb > li > ul > li > a:hover {
    color: #323232;
  }
  .gnb > li > ul > li > a:focus {
    color: #323232;
  }
  .gnb > li > ul > li:hover a {
    color: #323232;
  }
}
@media (max-width: 768px) {
  /* hxmenu */
  .hxgroup.newest {
    float: none;
    width: 100%;
  }
}
@media print {
  .headerwrap,
  .footerwrap,
  .sidemenu {
    display: none;
  }
  .csection {
    margin-left: 0;
    padding: 35px 0 50px 10px;
    border-left: 0;
  }
  .csection .ctitle,
  .csection .location,
  .csection .btn-print {
    display: none;
  }
  .csection .chead {
    margin-top: 0;
  }
}
