/* visual */
.visualwrap{
	/* height:350px; */
	background:url(../image/visual.png) no-repeat 50% 50%;
	background-size:100% 100%;
}
.visual{
	position:relative;
	width:1100px;
	height:350px;
	margin:0 auto;
}
.visual strong{
	position:absolute;
	bottom:80px;
	left:15px;
	color:#101e3c;
	font-size:30px;
}

/* sub container layout */
.wrap{
	background-color:#fff;
}
.container{
	width:1100px;
	margin:0 auto;
}
.container::after{
	content:"";
	display:block;
	clear:both;
}
.sidemenu{
	float:left;
	width:274px;
	padding:60px 0;
}
.sidemenu h2{
	margin-bottom:34px;
	padding:0 15px;
	color:#527fda;
	font-size:26px;
}
.snb{

}
.snb li{

}
.snb a{
	display:block;
	height:44px;
	padding:0 18px;
	line-height:44px;
	color:#555;
	font-size:14px;
}
.snb a:hover,
.snb .on a{
	background-color:#5380da;
	color:#fff;
}

/* contents */
.csection{
	position:relative;
	float:right;
	width:826px;
	min-height: 500px;
	padding:60px 0 60px 30px;
	border-left:1px solid #ddd;
}
.csection h2{
	margin-bottom: 40px;
	padding-bottom: 24;
	border-bottom: 1px solid #ddd;
	color: #444;
	font-size: 26px;
}
.csection .location{
	position: absolute;
	top:70px;
	right: 30px;
}
.csection .location li{
	display: inline-block;
	position: relative;
	float: left;
	margin-right: 5px;
	padding-right: 10px;
	color: #666;
	font-size: 12px;
	font-family: Dotum;
}
.csection .location li::after{
	content: ">";
	position: absolute;
	top: 0;
	right: 0;
	color: #666;
	font-size: 12px;
	font-family: Dotum;	
}
.csection .location li:last-child{
	margin-right: 0;
	padding-right: 0;
	font-weight: 600;
}
.csection .location li:last-child::after{
display: none;
}

/* Title style */

.hxtit{
	font-size: 22px;
}
.hxmtit{
	font-size: 20px;
}
.hxstit{
	font-size: 18px;
}

/* tabmenu style */
.tabgroup{
	position: relative;
	width: 100%;
	margin: auto;
}
.tabmenu{
	position: relative;
	border-bottom: 2px solid #000;
}
.tabmenu::after{
	content: "";
	clear: both;
	display: block;
}
.tabmenu li{
	display: inline-block;
	margin-bottom: -2px;
}
.tabmenu a{
	position: relative;
	display: inline-block;
	min-width: 100px;
	padding: 10px 5px;
	border: 1px solid #ddd;
	border-bottom-width: 2px;
	border-bottom-color: #222;
	background-color: #f5f5f5;
	text-align: center;
}
.tabcnt{
	display: none;
	min-height: 500px;
	border: 1px solid #222;
	border-top: 0;
	padding: 20px 15px;
}
/* tabmenu 활성화 */
.tabmenu .on{

}
.tabmenu .on a{
	z-index: 1;
	border-color: #222;
	border-bottom-color: #fff;
	background-color: #fff;
}
.tabcnt.on{
	display: block;
}
