.wrap {
  position: relative;
}
.topbnopen {
  padding: 10px;
  border: 1px solid #000;
  text-align: center;
}
.topbanner {
  width: 100%;
  text-align: center;
}
.topbnwrap {
  position: relative;
  width: 980px;
  margin: 0 auto;
}
.topbnwrap .topbncnt a {
  display: inline-block;
}
.topbnwrap .topbncnt a img {
  width: 980px;
  height: auto;
}
.topbnwrap .topbncontrol {
  text-align: right;
}
.topbnwrap .topbncontrol .topbncloseday {
  padding: 10px;
  border: 1px solid #000;
}
.topbnwrap .topbncontrol .topbnclose {
  padding: 12px 10px;
  border: 1px solid #000;
}
