/* visual */
.visualwrap{
	/* height: 350px; */
	background: url(../image/visual.png) no-repeat 50% 50%;
	background-size: 100% 100%;
}
.visual{
	position: relative;
	width: 1100px;
	height: 350px;
	margin: 0 auto;
}
.visual strong{
	position: absolute;
	bottom: 80px;
	left: 15px;
	color: #101e3c;
	font-size: 30px;
}

/* sub container layout */
.wrap{
	background-color: #fff;
}
.container{
	width: 1100px;
	margin: 0 auto;
}
.container::after{
	content: "";
	display: block;
	clear: both;
}
.sidemenu{
	float: left;
	width: 274px;
	padding: 60px 0;
}
.sidemenu h2{
	margin-bottom: 34px;
	padding: 0 15px;
	color: #527fda;
	font-size: 26px;
}
.snb{

}
.snb li{

}
.snb a{
	display: block;
	height: 44px;
	padding: 0 18px;
	line-height: 44px;
	color: #555;
	font-size: 14px;
}
.snb a:hover,
.snb .on a{
	background-color: #5380da;
	color: #fff;
}

/* contents */
.csection{
	position: relative;
	float: right;
	width: 826px;
	padding: 60px 0 60px 30px;
	border-left: 1px solid #ddd;
}