body{
	min-width: 1100px;
	background-color: #222;
}
/* header */
.headerwrap{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	width: 100%;
	height: 90px;
	background-color: rgba(0,0,0,.5)
}
.header{
	position: relative;
	width: 1100px;
	margin: 0 auto;
}
.header h1{
	display: inline-block;
	top: 30px;
	left: 20px;
	width: 94px;
	height: 29px;
}
.header h1 a{
	display: inline-block;
}
header h1 img{
	width: auto;
	height: auto;
	max-width: 94px;
	max-height: 29px;
}
.tnb{
	position: absolute;
	top: 48px;
	left: 150px;
}
.tnb li{
display: inline-block;
}
.tnb a{
	display: inline-block;
	color: #fff;
	font-size: 13px;
}

/* navigation */
.nav{
	position: absolute;
	top: 0;
	right: 0;
	padding-right: 20px;
}
.gnb{

}
/* depth1 li */
.gnb .dep1{
	display: inline-block;
	position: relative;
	float: left;
	padding: 36px 20px;
}
.gnb .dep1 > a{
	display: inline-block;
	position: relative;
	color: #fff;
	font-size: 16px;
	font-weight: 600;
}
.gnb .dep1 > a::after{
	content: "";
	display: inline-block;
	position: absolute;
	bottom: -10px;
	left: 50%;
	width: 0;
	height: 2px;
	background-color: #b9d0ff;
	transition: all .5s;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-ms-transition: all .5s;
	-o-transition: all .5s;
	transform: translate(-50%);
	-webkit-transform: translate(-50%);
	-moz-transform: translate(-50%);
	-ms-transform: translate(-50%);
	-o-transform: translate(-50%);
}
/* depth2 ul */
.gnb .dep2{
	/*display: none;
	*/overflow: hidden;
	position: absolute;
	top: 90px;
	left: 0;
	width: 165px;
	height: 0;
	padding: 0 18px;
	background-color: rgba(0,0,0,.5);
	transition: all .5s;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-ms-transition: all .5s;
	-o-transition: all .5s;
}
.gnb .dep2 li{
line-height: 30px;
}
.gnb .dep2 a{
color: #fff;
font-size: 14px;
}
/* depth1 hover */
.gnb .dep1:hover > a{
	color: #b9d0ff;
	/*text-decoration: line-through;*/ /* 가운데 라인이 표현됨 */
	/* text-decoration: underline; */
}
.gnb .dep1:hover > a::after{
	/* display: block; */
	width: 100%;
}
/* depth1 hover depth2 style */
.gnb .dep1:hover .dep2{
	height: 176px;
}

/* footer */
.footerwrap{
	width: 100%;
	background-color: #222;
}
.footer{
	position: relative;
	width: 1100px;
	margin: 0 auto;
	background-repeat: no-repeat;
	background-position: 100% 277px;
	background-image: url(../image/flogo.png);
	background-size: 95px 29px;
}
.footer .customer{
	padding: 44px 0;
	border-bottom: 1px solid #333;
	text-align: center;
}
.footer .customer h2{
	position: relative;
	margin-bottom: 30px;
	color: #fff;
	font-size: 20px;
}
.footer .customer h2::after{
	content: "";
	display: inline-block;
	position: absolute;
	bottom: -14px;
	left: 50%;
	width: 38px;
	height: 3px;
	background-color: #9bbcff;
	transform: translate(-50%);
	-webkit-transform: translate(-50%);
	-moz-transform: translate(-50%);
	-ms-transform: translate(-50%);
	-o-transform: translate(-50%);
}
.footer .customer .tel{
	color: #666;
	font-size: 26px;
}
.footer .customer .time{
	margin-top: 5px;
	color: #666;
	font-size: 13px;
}
.footer .customer .fmenu{
	margin-top: 20px;
	color: #999;
	font-size:13px;
}
.footer .customer .fmenu a{
	color: inherit;
	font-size: inherit;
}
.footer .customer .fmenu strong{
	color: inherit;
	font-size: inherit;
	/* font-weight: 600; */
	text-decoration: underline;
}
.footer .info{
	padding: 40px 0;
	color: #777;
	font-size: 13px;
	text-align: left;
}
.footer .info address{
	color: inherit;
	font-size: inherit;
}
.footer .info p{
	color: inherit;
	font-size: inherit;
}