@charset "utf-8";
/* NotoSansKR */
@font-face{
	font-family:'Noto Sans KR';
	src:url('notokr-regular.eot');/* ie전용 */
	src:url('notokr-regular.eot?#iefix') format('embedded-opentype'),
			url('notokr-regular.woff2') format('woff2'),
			url('notokr-regular.woff') format('woff'),/* 크롬 */
			url('notokr-regular.svg#NotoSansKR-Regular') format('svg');
	font-weight:400;
	font-style:normal;
}
@font-face{
	font-family:'Noto Sans KR';
	src:url('notokr-bold.eot');
	src:url('notokr-bold?#iefix') format('embedded-opentype'),
			url('notokr-bold.woff2') format('woff2'),
			url('notokr-bold.woff') format('woff'),
			url('notokr-bold.svg#notokr-bold') format('svg');
	font-weight:600;
	font-style:normal;
}
/* Montserrat */
@font-face{
	font-family:'Montserrat';
	src:url('Montserrat-Regular.eot');
	src:url('Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
			url('Montserrat-Regular.woff2') format('woff2'),
			url('Montserrat-Regular.woff') format('woff'),
			url('Montserrat-Regular.svg#Montserrat-Regular') format('svg');
	font-weight:400;
	font-style:normal;
	unicode-range: U+002C, U+0030-0039, U+002E-002E, U+0020-U+0020,U+0041-U+005A,U+0061-U+007A;
}
@font-face{
	font-family:'Montserrat';
	src:url('Montserrat-Bold.eot');
	src:url('Montserrat-Bold?#iefix') format('embedded-opentype'),
			url('Montserrat-Bold.woff2') format('woff2'),
			url('Montserrat-Bold.woff') format('woff'),
			url('Montserrat-Bold.svg#Montserrat-Bold') format('svg');
	font-weight:700;
	font-style:normal;
	unicode-range: U+002C, U+0030-0039, U+002E-002E, U+0020-U+0020,U+0041-U+005A,U+0061-U+007A;
}