.depmenu {
  width: 250px;
  margin: 20px;
  border: 1px solid #ddd;
}
.depmenu h2 {
  padding: 0 15px;
  font-size: 16px;
  line-height: 50px;
  background: #222;
  color: #fff;
}
.depmenu .menu a {
  display: block;
  position: relative;
  padding: 0 15px;
  color: #555;
  font-size: 14px;
  line-height: 40px;
}
.depmenu .menu > li {
  border-top: 1px solid #ddd;
}
.depmenu .menu > li:first-child {
  border-top: 0;
}
.depmenu .menu .dep {
  display: none;
}
.depmenu .menu .dep.dep2 a {
  padding-left: 15px;
}
.depmenu .arr > a::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 15px;
  margin-top: -3px;
  border-top: 6px solid #666;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}
.depmenu .open > a::after {
  transform: rotate(180deg);
}
.depmenu .narr > a::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 15px;
  margin-top: -3px;
  border-top: 4px solid transparent;
  border-left: 6px solid #666;
  border-bottom: 4px solid transparent;
}
