
/* ul */
.ultabgroup{
	position: relative;
	width: 800px;
	margin: 50px auto;
	padding: 200px;
}
.tab{
	position: relative;
	border-bottom: 2px solid #000;
}
.tab li{
	display: inline-block;
	margin-bottom: -2px;
}
.tab a{
	position: relative;
	display: inline-block;
	min-width: 100px;
	padding: 10px 5px;
	border-bottom-width: 2px;
	text-align: center;
}